<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
    <section>
        <div class="container-fluid p-5 mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <p class="fs-4">Edit Category</p>
                            <!-- Hiển thị thông báo -->
                            <th:block th:if="${session.succMsg}">
                                <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                                <th:block th:with="remove=${@commonServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>
                            <th:block th:if="${session.errorMsg}">
                                <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                                <th:block th:with="remove=${@commonServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/admin/updateCategory}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" th:value="${category.id}">
                                
                                <div class="mb-3">
                                    <label>Enter Category</label>
                                    <input type="text" name="name" class="form-control" th:value="${category.name}">
                                </div>
                                
                                <div class="mb-3">
                                    <label>Status:</label>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="active" id="flexRadioDefault1" 
                                               th:checked="${category.active == true}" value="true">
                                        <label class="form-check-label" for="flexRadioDefault1">Active</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="active" id="flexRadioDefault2"
                                               th:checked="${category.active == false}" value="false">
                                        <label class="form-check-label" for="flexRadioDefault2">Inactive</label>
                                    </div>
                                </div>
                                
                                <div class="mb-3">
                                    <label>Current Image</label>
                                    <div class="text-center my-2">
                                        <img th:src="@{'/img/category_img/' + ${category.imageName}}" 
                                             width="100px" height="100px" alt="Current Image"
                                             class="img-thumbnail">
                                    </div>
                                    <label>Upload New Image</label>
                                    <input type="file" name="file" class="form-control">
                                </div>
                                
                                <button class="btn btn-primary col-md-12">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>